*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(51, 91, 144);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    border-radius: 10px;
    width: 600px;
    padding: 30px;
    background-color: white;
}
.box h1{
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    border-bottom: 1px solid rgb(9, 140, 150);
    margin-bottom: 20PX;
}
.box .para{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.para1{
    font-size: 20px;
    float: right;
}
.btn{
    margin-top: 40px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-btn{
    padding: 10px;
    border: none;
    font-size: 20px;
    width: 120px;
    border-radius: 30px;
    color: white;
    background-color: blue;
}
.tweet{
    padding: 10px;
    border: 1px solid aqua;
    width: 120px;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
}
